/*secondary text color #212121*/
/*main text color #757575*/
/*white #FFFFFF*/
/*accent #2196F3*/
/*main background color f5f5f5*/
/*secondary background color #F5F4FA*/
/*secondary background color #2F303A*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #2f303a;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*logo*/
.logotype {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
header .logo {
  color: #000000;
}
.footer .logo {
  color: var(--text-white-color);
}
/*Navigation*/
.nav-list .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .current {
  color: var(--accent-color);
}
.contacts-list .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}
/*main*/
.hero {
  background-color: var(--secondary-background-color);
}
.section.command {
  background-color: #f5f4fa;
}
.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.features-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.command-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/*button*/
.button {
  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  cursor: pointer;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.primary {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.secondary:hover,
.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/*footer*/
.footer {
  background-color: var(--secondary-background-color);
}
.contact-list .contact-item {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.contact-item.address {
  color: var(--text-white-color);
}
/*Портфоліо*/
.works-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 0.2;
  letter-spacing: 0.06em;
}
.works-list .text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
